# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
# JANGAN PERNAH commit file .env.local ke git
.env*.local
.env
.env.development
.env.production
.env.test

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS Files (Optional tapi disarankan)
.DS_Store
*.pem

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Runtime specific (Jika Anda menggunakan Bun atau lainnya)
bun.lockb
node_dump.ok